/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*general styles*/
   html{
     font-size: 16px;
   }

   body{
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
   }
   h1{
     font-family: 'Poppins', sans-serif;
     font-size: 2.25em;
     color: #e2e3ed;
   }
   h2 {
     font-family: 'Poppins', sans-serif;
     font-size: 1.875em;
     color: #e2e3ed;
   }

   h3{
     font-family: 'Poppins', sans-serif;
     font-size: 1.125em;
     color: #e2e3ed;
     font-weight: medium;
   }

   ul{
     list-style-type: none;
     padding-inline-start:0px;
   }

   a{
     color: #e2e3ed;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.125em;
     font-weight: bold;
   }

   p{
     font-family:'Open Sans', sans-serif;
     font-size: 0.875em;
     font-weight: medium;
     color:#e2e3ed;
   }

   img {
	    width: 100%;
    }

    figure {
        margin: 0;
  }
/**** base styles ****/
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width:100%;
    background-color: #202322;
}

header .content-wrapper{
    width:100%;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:90%;
}


header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;
  flex-flow: row wrap;
  padding: 15px 0;
}
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}
.header-divider{
  border-top: 1px solid #3a3a3a;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
}
header nav ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 55%;
  margin: 50px 0;
}

footer h4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  text-align: center;
}
footer .contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  padding-bottom: 30px;
}

footer .social{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  padding-bottom: 30px;
}

footer .contact p{
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-flow: row wrap;
  width:100%;
  font-family:'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: medium;
  color: #ffffff;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

footer .social-icons p{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .copyright{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:100%;

}


/*** Mobile - Home page- ***/
.hero-area .content-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
}
.hero-area h1{
  display: inline;
  padding-left: 20px;
}
.hero-area {
  height:500px;
background-image: url('../img/hero.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
aside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  background-color: #527158;
  padding: 30px 0;
}
.form-description{
  width: 100%;
}

.form{
  width:100%;
}
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  background-image: url("../assets/features-background.jpg");
  background-position: center;
  background-size: contain;
  padding: 50px 0;
}
.feature-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
}
.feature-items article{
  width:63%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  background-color: #2a423a;
  padding: 45px 0;
}
.reviews article{
  width:100%;
 }

/*** Mobile - About page- ***/

.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*** Mobile - FAQ page- ***/
.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faq-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
   /*Tablet styles here*/

  /* General styles */
  h1{
    font-size: 3em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3{
    font-size: 1.5em;
  }

   .content-wrapper {
     max-width: 640px;
     margin: 0 50px ;
   }

 /*** base styles ****/
  header{
    padding:30px 0;
  }
  header .content-wrapper{
    justify-content: space-between;
    width: 90%;
  }

  header figure{
    width: 35%;
    justify-content: flex-start;
  }
  header nav{
    width: 50%;
    justify-content: space-between;
  }
  header nav ul{
    justify-content:flex-end;
  }
  header nav ul li{
    padding-left: 40px;
  }

  .header-divider{
    display:none;
  }
  footer .content-wrapper {
    width: 100%;
    margin: 100px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  footer .contact{
    width: 50%;
  }
  footer .social{
    width: 50%;
  }
/*** tablet-home ***/

  .form-description{
    width: 50%;
    padding-right: 50px;
  }
  .form{
    width:50%;
  }
  .feature-items{
    width:100%;
  }
  .features article{
    width: 50%;
  }
  .reviews img{
    width:50%;
  }
  .reviews article{
    width:50%;
  }

}

@media only screen and (min-width: 1200px) {
  /* general styles*/
  h1{
    font-size: 3.75em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3{
    font-size: 1.875em;
  }
  p{
    font-size: 1.125em;
  }


   /*Desktop styles here*/
   .content-wrapper {
     max-width: 960px;
   }
   header,footer{
     width:100%
   }
   .header-divider{
     display: none;
   }
   header .content-wrapper{
     width:100%
   }

   .content-wrapper{
     width:80%;
   }

   aside .content-wrapper{
     width:67%;
   }
   .form-description{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
  }
  .features{
    width:100%;
  }
  .feature-items{
    width: 100%;
  }
  .features article{
    width:26%;
    flex-flow: row wrap;
  }
  .reviews{
    width: 100%;
  }
  .reviews article{
    width:50%;
   }
}


/**********/

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
